/mvnw text eol=lf
*.cmd text eol=crlf
*.java text working-tree-encoding=UTF-8
*.js text working-tree-encoding=UTF-8
*.vue text working-tree-encoding=UTF-8
*.sql text working-tree-encoding=UTF-8
*.yml text working-tree-encoding=UTF-8
*.yaml text working-tree-encoding=UTF-8
*.md text working-tree-encoding=UTF-8
