MYSQL_ROOT_PASSWORD=door-handle-dev-root
MYSQL_PORT=3306

NACOS_AUTH_TOKEN=RG9vckhhbmRsZUNhdGNoTmFjb3NEZXZlbG9wbWVudFNlY3JldEtleTIwMjY=
NACOS_AUTH_IDENTITY_KEY=door-handle-nacos-server
NACOS_AUTH_IDENTITY_VALUE=door-handle-nacos-server-value
NACOS_USERNAME=nacos
NACOS_PASSWORD=door-handle-nacos-admin
